.box{
    height: 100px;
}
.box1{
    height: 300px;
}
.circle{
    height: 100px;
    max-width: 100px;
    width: 200px;
    border-radius: 50%;
    background-color: red;
}
.box2{
    height: 100px;
}